h1, h2 {
  margin: 0;
  padding: 0;
}

/* CSS */

body {
  padding: 0;
  margin: 0;
  text-align: center; /*Centering for IE */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  background: #626262 url(../images/body-background.png) top repeat-x;
}

h1, h2 {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.0em;
  padding: 0 0 10px 0;
}

h3 {
  font-size: 1.5em;
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

p {
  padding-bottom: 10px;
}

/* Main Layout */

#page-wrapper { 
  padding: 0;
  margin: 0 auto; /* Center on Page */
  text-align: left; /* Reset text alignment */
  overflow: hidden;
  width: 960px;
}

#middle-wrapper {
  padding: 10px 10px;
  overflow: hidden;
}

#main-content {
  float: left;
  width: 100%;
  overflow: hidden; 
}

#main-content-inner {
  margin-bottom: 20px;
  padding: 5px 10px 0 10px;
  background: #ffffff;
  overflow: hidden; /* Fix for collapsible fieldsets in IE */
}

#middle-wrapper .sidebar-left {
  float: left;
  z-index: 1;
  position: relative;
}

#middle-wrapper .sidebar-right {
  float: left;
  z-index: 1;
  position: relative;
}

.width25 {width: 24.999%}
.width33 {width: 33.333%}
.width50 {width:49.999%}
.width100 {width: 99.999%}

/* Header  */

#header-wrapper {
  
}

#site-logo {
  float: left;
  padding: 10px 0;
}

#site-name {
  float: left;
  padding: 10px 0;
}

#site-name h1 {
  font-size: 62px;
  color: #ffe400;
  font-weight: bold;
}

#site-slogan h2 {
  padding: 0;
  font-size: 12px;
  color: #666666;
  font-weight: bold;
  text-align: right;
}

/* Search Box */

.search-box {
  float: right;
  padding: 10px 0;
}

.search-box label {
  color: #333333;
}

.search-box-content {
}

.search-box .form-submit {
  border: 2px solid #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #dddddd;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.search-box .form-submit:hover {
  background: #ffffff;
}

.search-box .form-text {
  border: 2px solid #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  background: #999999;
  color: #ffffff;
}

/* Footer */

#footer {
  padding: 10px 0;
  text-align: center;
}

#footer a {
  color: #ffe400;
  font-size: 14px;
}

div#nifty-footer{ margin: 0px 0 10px 0; background: #191a1c}

b.rtop-footer, b.rbottom-footer{display:block;background: #626262}
b.rtop-footer b, b.rbottom-footer b{display:block;height: 1px;
    overflow: hidden; background: #191a1c}
b.r1-footer{margin: 0 5px}
b.r2-footer{margin: 0 3px}
b.r3-footer{margin: 0 2px}
b.rtop-footer b.r4-footer, b.rbottom-footer b.r4-footer{margin: 0 1px;height: 2px}

/* Corners */

div#nifty{ margin: 10px 0; background: #ffffff}
b.rtop{display:block;background: #dadada}
b.rbottom{display:block;background: #626262}
b.rtop b, b.rbottom b{display:block;height: 1px; overflow: hidden; background: #ffffff}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}

.top-regions { 
  margin: 10px 0; 
  background: #dddddd;
}

/* Sideboxes */

.sidebox {
 position:relative;
 margin:0px auto;
 min-width:8em;
 max-width:760px; /* based on image dimensions - not quite consistent with drip styles yet */
 color:#fff;
 z-index:1;
 margin-left:12px; /* default, width of left corner */
 margin-bottom:0.5em; /* spacing under dialog */
}

.sidebox .content,
.sidebox .t,
.sidebox .b,
.sidebox .b div {
 background:transparent url(../images/sidebox.png) no-repeat top right;
}

.sidebox .content {
 zoom: 1;
 position:relative;
 padding:0px 12px 0px 0px;
}

.sidebox .t {
 /* top+left vertical slice */
 position:absolute;
 left:0px;
 top:0px;
 width:12px; /* top slice width */
 margin-left:-12px;
 height:100%;
 background-position:top left;
}

.sidebox .b {
 /* bottom */
 position:relative;
 width:100%;
}

.sidebox .b,
.sidebox .b div {
 height:30px; /* height of bottom cap/shade */
 font-size:1px;
}

.sidebox .b {
 background-position:bottom right;
}

.sidebox .b div {
 position:relative;
 width:12px; /* bottom corner width */
 margin-left:-12px;
 background-position:bottom left;
}

.sidebox .hd,
.sidebox .bd,
.sidebox .ft {
 position:relative;
}

.sidebox .wrapper {
 /* extra content protector - preventing vertical overflow (past background) */
 position:static;
 max-height:1000px;
 overflow:auto; /* note that overflow:auto causes a rather annoying redraw "lag" in Firefox 2, and may degrade performance. Might be worth trying without if you aren't worried about height/overflow issues. */
}

.sidebox p {
 margin:0px; /* margins will blow out backgrounds, leaving whitespace. */
 padding:0.5em 0px 0.5em 0px;
}

.sidebox .title {
 text-align: center;
}

.sidebox h2 {
 display: block;
 margin: 0;
 padding: 0;
 color: #000000;
 font-size: 16px;
 font-weight: bold;
 line-height: 40px;
 background: url(../images/sidebox-h2-left.png) no-repeat left;
}

.sidebox h2 span {
 margin-left: 5px;
 padding-right: 5px;
 display: block;
 line-height: 40px;
 background: url(../images/sidebox-h2-right.png) no-repeat right;
}

.sidebox-inner {
  padding: 15px 5px 0 5px;
}

.sidebox-content {
  padding: 10px 0;
}

/* Primary Links */

#primary-links h2 {
  display: none;
}

#primary-links {
  line-height: 60px;
  background: url(../images/nav-left.png) no-repeat left
}

#primary-links-inner {
  background: url(../images/nav-right.png) no-repeat right;
}

#primary-links-inner-inner {
  margin: 0px 10px;
  background: url(../images/nav-center.png) repeat-x;
}

#primary-links ul {
}

#primary-links ul li a {
  display: block;
  margin-left: 10px;
  padding: 0 10px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #999999;
  text-decoration: none;
  border-bottom: 0;
}

#primary-links ul li {
  display: block;
  padding: 0;
  float: left;
}

#primary-links ul li:hover, #primary-links ul li.active-trail {
  background: url(../images/nav-li-hover.png) no-repeat left;
}

#primary-links ul li:hover a {
  background: url(../images/nav-a-hover.png) no-repeat right;
  color: #ffffff;
}

#primary-links ul a.active, #primary-links ul li.active-trail a {
  background: url(../images/nav-a-hover.png) no-repeat right;
  color: #ffe400;
}

/* Secondary Links */

#secondary-links h2 {
  display: none;
}

#secondary-links ul {
  padding: 10px;
}

#secondary-links ul li a, #secondary-links ul li a.active {
  display: block;
  padding: 0 5px;
  font-size: 12px;
  border: 0;
}

#secondary-links ul li a:hover {
  color: #ffffff;
}

#secondary-links ul li {
  display:block;
  float: right;
}

/* Lists */

ul.menu {
  margin: 0;
  padding: 0;
  border: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: left;
}

ul.menu li, ul.menu ul {
}

ul.menu li a {
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid #bf0000;
}

ul.menu li li a {
  padding: 5px 0;
  font-size: 12px;
  color: #e9e9e9;
}

ul.menu li li {
  margin-left: 10px;
  list-style-type: disc;
}

ul.menu li a, .sidebox .item-list ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

ul.menu li a:hover, ul.menu li a.active, .item-list ul li a:hover {
  color: #ffe400;
}

li.expanded, li.collapsed, li.leaf {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-type: none;
}

#main-content-inner .menu li a {
  border-bottom: 0px;
  color: #000000;
}

#main-content-inner .menu li a:hover, #main-content-inner .item-list li a:hover {
  color: #cc0000;
}

.sidebox .item-list ul {
  margin: 0;
  padding: 10px 0 0 0;
  border: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

.item-list ul li {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-type: none;
}

.item-list h3 {
  margin: 0;
  padding-top: 10px;
  font-size: 14px;
}

/* Nodes */

.submitted {
  padding-bottom: 10px;
  color: #999999;
  font-size: 14px;
}

.node {
  border-bottom: 2px dashed #999999;
  margin-bottom: 10px;
}

.comment {
  padding: 10px;
  margin: 10px 0;
  background: #eeeeee;
}

.links {
  padding: 10px 0;
}

ul.links li {
  padding: 0 10px 0 0;
}

.sidebox .links a {
  color: #ffffff;
}

.sidebox .links a:hover {
  color: #ffe400;
}

.feed-icon img {
  padding: 10px 0;
}

.feed-source {
  font-size: 10px;
  color: #666666;
}

/* Poll */

.poll .bar {
  border: 1px solid #000000;
}

.poll .bar .foreground {
  background: #ffe400;
}

/* Admin */

.block-region { 
  background-color:#feff93;
  margin-bottom:0px;
  margin-top:0px;
  padding:0px;
}

ul.primary {
  margin-left: 0px;
  margin-bottom: 10px;
  padding: 0;
}

ul.primary li a {
  margin: 0;
}

table {
  width: 99.9%;
}

td {
  padding: 5px;
}

tr.odd {
  background-color: #eeeeee;
}

tr.even {
  background-color: #e9e9e9;
}

#middle-wrapper input {
  margin-top: 10px;
}

dd {
  margin: 10px 0;
}

.theme-info h2 {
  font-size: 14px;
}