/* IE6 */

ul.menu li, ul.menu ul {
  display: inline;
}

ul.menu li li {
  margin-left: 0px;
}

ul.menu li li a {
  margin-left: 10px;
}

ul.menu li, ul.menu ul {
  margin: 0;
  padding: 0;
}

.sidebox h2 {
 color: #610000;
 background: url() no-repeat left;
}

.sidebox h2 span {
 background: url() no-repeat right;
}

div.admin .right, div.admin .left {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.sidebox .content,
.sidebox .t,
.sidebox .b,
.sidebox .b div {
 background-image:url(images/sidebox-ie6.gif);
}

.sidebox .content {
 zoom:1;
 overflow-y:hidden;
}

.sidebox .t {
 height:1600px; /* arbitrary long height, IE 6 */
}